body,html{
	height: 100%;
	margin: 0;
	font-size: 16px;
	font-family: "Anonymous", sans-serif;
	font-weight: 400;
	line-height: 1.8em;
	color: #666;
}

.img1, .img2, .img3{
	position: relative;
	opacity: 0.85;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;

	background-attachment: fixed;
}
.img1{
	background-image: url('Poké Ball Wallpapers - Wallpaper Cave.jpg');
	min-height: 100%;
}

.img2{
	background-image: url('Articuno.jpg');
	background-position: top;
	min-height: 400px;
}

.img3{
	background-image: url('Umbreon.jpg');
	min-height: 400px;
}

.section{
	text-align: center;
	padding: 50px 80px;
}

.section-light{
	background-color: #0d0a0b;
    background-image: linear-gradient(315deg, #0d0a0b 55%, #572e57 75%);
	color:rgb(175, 165, 153);
	text-shadow: 2px 2px 2px black, 0 0 35px rgb(116, 116, 145), 0 0 15px rgb(133, 133, 155);
}

.section-dark{
	background-color: #0d0a0b;
    background-image: linear-gradient(315deg, #0d0a0b 55%, #572e57 75%);
	color:rgb(175, 165, 153);
	text-shadow: 2px 2px 2px black, 0 0 35px rgb(116, 116, 145), 0 0 15px rgb(133, 133, 155);
}

.ptext{
	position: absolute;
	font-size: 27px;
	font-family: 'Anonymous';
	top: 50%;
	width: 100%;
	text-align: center;
	color: #ddd;
	letter-spacing: 8px;
	text-transform: uppercase;
}
.ptext:hover{
    transform: scale(1.3);
}


.ptext .boder{

	background: rgb(2,0,36);
	background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(121,9,30,0.9612219887955182) 49%, rgba(20,33,36,1) 90%);
	color: white;
	padding: 20px;
}


.ptext .boder.trans{
	background: transparent;
	color: black;
}

@media(max-width: 568px){
	.pimg1, .pimg2, .pimg3{
		background-attachment: scroll;
	}
}